@model IEnumerable<PatientWebModel>

<form method="post">
    <p>
        <label>Имя</label><br />
        <input type="text" name="Name" />
    </p>
    <p>
        <label>Фамилия</label><br />
        <input type="text" name="Surname" />
    </p>
    <p>
        <label>Доктор</label><br />
        <select name="Doctor">
            @foreach (var patient in Model)
            {
                <tr><td>@patient.Name</td><td>@patient.Surname</td></tr>
            }
        </select>
    </p>
    <p>
        <input type="submit" value="Отправить" />
    </p>
</form>