html, body {
    height: 100%;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    background-color: darkgrey;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.main-body {
    justify-self: center;
}

.form-control {
    font-display:auto;
    height: 40px;
}

.textbox{
    height: 40px;
}
